button.upper {
    background-color:transparent;
    border:none;
    color:#183fcc;
    padding:calc(5px + 0.125vw);
    font-size:calc(14px + 0.125vw);
    cursor:pointer;
}
button.upper:hover {
    color:white;
    background-color:#183fcc;
}

button.middle {
    all:unset;
    color:#183fcc;
    cursor:pointer;
}
button.:hover {
    color:white;
    background-color:#183fcc;
}

button.lower {
    width:66%;
    background-color:transparent;
    border:none;
    color:#183fcc;
    padding:calc(5px + 0.125vw);
    font-size:calc(14px + 0.125vw);
    cursor:pointer;
}
button.lower:hover {
    color:white;
    background-color:#183fcc;
}

/* Snack Bar */
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar.showsuccess {
  visibility: visible;
  background-color: #a1f6a8;
  color: #517b54;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar.showfailure {
  visibility: visible;
  background-color: #f6a8a1;
  color: #7b5151;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
