<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="/recipe-site/static/third-party/jquery-3.6.0.min.js"></script>
<script src="/recipe-site/static/third-party/selectize.min.js"></script>
<script src="/recipe-site/static/third-party/bootstrap.min.js"></script>

<link rel="stylesheet" href="/recipe-site/static/third-party/selectize.min.css"/>
<link rel="stylesheet" href="/recipe-site/static/third-party/bootstrap.min.css"/>
<link rel="stylesheet" href="/recipe-site/static/third-party/bootstrap-icons-1.9.1/bootstrap-icons.css">
<link rel="shortcut icon" href="/recipe-site/static/favicon.ico">
