<!DOCTYPE html>
<html>
  <head>
    <title>Grocery List</title>
    <!-- <script src="/recipe-site/static/grocery-list-print.js"></script> -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/js/standalone/selectize.min.js" integrity="sha512-pF+DNRwavWMukUv/LyzDyDMn8U2uvqYQdJN0Zvilr6DDo/56xPDZdDoyPDYZRSL4aOKO/FGKXTpzDyQJ8je8Qw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/css/selectize.default.min.css" integrity="sha512-H955AcCOE/fUjX4XWkN0FwjCYVV/zioSF6VpUKCcrGdR1Wa8paFWYixWYp85npbnx3i1kZCH4Rm4TRxut2+d5A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body onload="onLoadPage()">
    <h1> Grocery List </h1>

    <div id="ingredient_div">
      <ul id="inredients">
	{% for ingredient in ingredient_list %}
	      <li> {{ingredient}} </li>
	{% endfor %}
      </ul>
    </div>

    <div>
      <button onclick="window.location.href='/recipe-site/'">Go Home</button>
    </div>
  </body>
</html>
