<!DOCTYPE html>
<html>
  <head>
    <title>Grocery List Builder</title>
    {% include 'common-loads.html' %}
    <script src="/recipe-site/static/grocery-list.js"></script>
    <script>
      var recipe_list = {
	{% for recipe_name in recipe_name %}
	    {{recipe_id[loop.index0]}}: "{{recipe_name}}",
	{% endfor %}
      };
    </script>
  </head>
  <body onload="onLoadPage()">
    <h1> Grocery List Builder </h1>
    <h2> Recipes </h2>
    <div id="recipe-div">
      <table id="recipe-table">
        <tr>
          <th>Recipe</th>
          <th>Quantity</th>
        </tr>
      </table>
     </div>

    <div>
      <button onclick="plusRow()">Add Recipe</button>
      <button onclick="minusRow()">Remove Recipe</button>
      <button onclick="getGroceryListPrint()">Get Grocery List</button>
    </div>
    <div>
    </div>

    <div>
      <button onclick="window.location.href='/recipe-site/'">Go Home</button>
    </div>
  </body>
</html>
