<!DOCTYPE html>
<html>
  <head>
    <title>Grocery List</title>
    {% include 'common-loads.html' %}
    <!-- <script src="/recipe-site/static/grocery-list-print.js"></script> -->
  </head>
  <body onload="onLoadPage()">
    <div class="container">
      <h1> Grocery List </h1>
      <div id="ingredient_div">
        <ul id="inredients">
	      {% for (ingredient, amt) in ingredient_zip %}
	        <li> {% if amt > 1 %} {{amt}} x {% endif %}{{ingredient}} </li>
	      {% endfor %}
        </ul>
      </div>
      <div>
        <button class="btn btn-primary" onclick="window.print()"><i class="bi bi-printer"></i> Print</button>
        <button class="btn btn-primary" onclick="window.location.href='/recipe-site/'"><i class="bi bi-house-fill"></i> Go Home</button>
      </div>
    </div>
  </body>
</html>
