<!DOCTYPE html>
<html>
  <head>
    <title>Grocery List Builder</title>
    {% include 'common-loads.html' %}
    <script src="/recipe-site/static/grocery-list.js"></script>
    <script>
      var recipe_list = {
	{% for recipe_name in recipe_name %}
	    {{recipe_id[loop.index0]}}: "{{recipe_name}}",
	{% endfor %}
      };
    </script>
  </head>
  <body onload="onLoadPage()">
    <div class="container">
      <h1> Grocery List Builder </h1>
      <h2> Recipes </h2>
      <div id="recipe-div">
        <table id="recipe-table" width="100%">
          <col style="width:5%">
          <col style="width:70%">
          <col style="width:25%">
          <thead>
          <tr>
            <th></th>
            <th><h3>Recipe</h3></th>
            <th><h3>Quantity</h3></th>
          </tr>
          </thead>
          <tbody id="recipe-table-body">
          </tbody>
        </table>
       </div>
      <br />
      <div>
        <button class="btn btn-primary" onclick="plusRow()"><i class="bi bi-plus-square"></i> Add Recipe</button>
      </div>
      <br />
      <div>
        <button class="btn btn-primary" onclick="getGroceryListPrint()"><i class="bi bi-list-ol"></i> Get Grocery List</button>
        <button class="btn btn-primary" onclick="window.location.href='/recipe-site/'"><i class="bi bi-house-fill"></i> Go Home</button>
      </div>
    </div>
  </body>
</html>
