<!DOCTYPE html>
<html>
  <head>
    <title>Recipe Site</title>
    {% include 'common-loads.html' %}
    <script src="/recipe-site/static/main.js"></script>
    <link rel="stylesheet" href="/recipe-site/static/main.css">
  </head>
  <body onload="onLoadPage()">
    <h1>Recipe Site</h1>

    <div id="todays_div">
      <h2>Goto Today's Recipe</h2>
      <script>todays_recipe_id = {{todays_recipe_id}}</script>
      <button onclick="todaysRecipeRedirect()">Show Recipe</button>
    </div>

    <div id="selection_div">
      <h2>View a Recipe</h2>
      <select id="recipe_list" name="recipe">
        <option disabled selected value> -- select an option -- </option>
	      {% for recipe_name in recipe_name %}
	      <option value="{{recipe_id[loop.index0]}}"> {{recipe_name}} </option>
	      {% endfor %}
      </select>
      <button onclick="recipeRedirect()">Show Recipe</button>
    </div>

    <div>
      <h2>Recipe Scheduler</h2>
      <p> Schedule some recipes! </p>
      <button onclick="scheduleRedirect()">Go!</button>
    </div>
  </body>

    <div>
      <h2>Grocery List Builder</h2>
      <p>Build a grocery list! </p>
      <button onclick="window.location.href='/recipe-site/grocery-list/'">Go!</button>
    </div>
  </body>
</html>
