<!DOCTYPE html>
<html>
  <head>
    <title>{{recipe_name}}</title>
    {% include 'common-loads.html' %}
  </head>
  <body onload="onLoadPage()">
    <div class="container">
    <h1> {{recipe_name}} </h1>
    <h2> Ingredients </h2>
    <div id="ingredient_div">
      <ol>
  	{% for ingredient in ingredients %}
  	<li> {{ingredient}} </li>
  	{% endfor %}
      </ol>
     </div>

    <h2> Directions </h2>
    <div id="direction_div">
      <ol>
	{% for direction in directions %}
	<li> {{direction}} </li>
	{% endfor %}
      </ol>
    </div>

    <div>
      <button class="btn btn-primary" onclick="window.location.href='/recipe-site/'"> <i class="bi bi-house-fill"></i> Go Home</button>
    </div>
    </div>
  </body>
</html>
