<!DOCTYPE html>
<html>
  <head>
    <title>Recipe Scheduler</title>
    {% include 'common-loads.html' %}
    <script src="/recipe-site/static/recipe-scheduler.js"></script>
    <link rel="stylesheet" href="/recipe-site/static/recipe-scheduler.css"/>
    <script>
      var recipe_list = {
{% for recipe_name in recipe_name %}
    {{recipe_id[loop.index0]}}: "{{recipe_name}}",
{% endfor %}
      };
      var scheduled_recipe_ids = {{scheduled_recipe_ids}};
      var scheduled_day_of_week = {{scheduled_day_of_week}};
      var scheduled_quantities = {{scheduled_quantities}};
      var scheduled_recipe_names = scheduled_recipe_ids.map(i => recipe_list[i]);
      console.log(scheduled_recipe_names);
    </script>
  </head>
  <body onload="onLoadPage()">
    <div class="container">
      <div class="row">
        <h1> Recipe Scheduler </h1>
      </div>
      <div id="recipe-div" class="row">
        <table style="width:100%; margin-top:1em; margin-botton:1em;">
          <tr>
            <th style="width:33%; text-align:left;">
              <button class = "button upper" onclick="modalVerify(() => changeWeek(-1))">
                <span><i class="bi bi-arrow-left-square"></i> Last Week</span>
              </button>
            </th>
            <th style="width:33%; text-align:center; ">
              <span id="week-start" style="font-size:calc(10px + 1.5vw);">{{week_start}}</span>
            </th>
            <th style="width:33%; text-align:right;  ">
              <button class="button upper" onclick="modalVerify(() => changeWeek(+1))">
                <span>Next Week <i class="bi bi-arrow-right-square"></i></span>
              </button>
            </th>
          </tr>
        </table>
        <table id="recipe-table" style="width:100%; margin-top:1em; margin-botton:1em;">
          <col style="width:25%">
          <col style="width:2.5%">
          <col style="width:2.5%">
          <col style="width:60%">
          <col style="width:10%">
          <thead>
          <tr>
            <th><h3>Day</h3></th>
            <th colspan="2"></th>
            <th><h3>Recipe</h3></th>
            <th><h3>Quantity</h3></th>
          </tr>
          </thead>
          <tbody id="recipe-table-body">
	        {% for day in ["sun", "mon", "tue", "wed", "thu", "fri", "sat"] %}
          <tr>
            <td id="date-{{day}}">{{day}}</td>
            <td>
              {% if day != "sun" %}
              <button class="button middle" onclick="moveUp('{{day}}')">
                <i class="bi bi-arrow-up" style="cursor: pointer"></i>
              </button>
              {% endif %}
            </td>
            <td>
              {% if day != "sat" %}
              <button class="button middle" onclick="moveDown('{{day}}')">
                <i class="bi bi-arrow-down" style="cursor: pointer"></i>
              </button>
              {% endif %}
            </td>
            <td id="select-{{day}}">
              <select id="recipe-select-{{day}}"></select>
            </td>
            <td id="amount-{{day}}">
              <input id="cnt-{{day}}" value=0 type=number min=0 class="form-control" ></input>
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <br />
      <div style="width:100%">
        <table style="width:100%; margin-top:1em; margin-botton:1em;">
          <tr>
            <th class="text-center">
              <button class="button lower" onclick="saveWork()">
                <span><i class="bi bi-save"></i> Save Schedule</span>
              </button>
            </th>
            <th style="width:33%;" class="text-center">
              <button class="button lower" onclick="modalVerify(getGroceryListPrint)">
                <span><i class="bi bi-list-ol"></i> Grocery List</span>
              </button>
            </th>
            <th style="width:33%;" class="text-center">
              <button class="button lower" onclick="modalVerify(goHome)">
                <span><i class="bi bi-house-fill"></i> Return Home</span>
              </button>
            </th>
          </tr>
        </table>
      </div>
    </div>
  <!-- Snack Bar -->
    <div>
      <div id="snackbar"></div>
    </div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Unsaved Work</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          The current recipe schedule has not been recorded.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button id="modal-button-nosave" type="button" class="btn btn-danger">
            Proceed Without Saving
          </button>
          <button id="modal-button-save" type="button" class="btn btn-primary">
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
  </body>

</html>
