<!DOCTYPE html>
<html>
  <head>
    <title>Recipe Scheduler</title>
    {% include 'common-loads.html' %}
    <script src="/recipe-site/static/recipe-scheduler.js"></script>
    <script>
      var recipe_list = {
{% for recipe_name in recipe_name %}
    {{recipe_id[loop.index0]}}: "{{recipe_name}}",
{% endfor %}
      };
      var scheduled_recipe_ids = {{scheduled_recipe_ids}};
      var scheduled_day_of_week = {{scheduled_day_of_week}};
      var scheduled_quantities = {{scheduled_quantities}};
      var scheduled_recipe_names = scheduled_recipe_ids.map(i =>  recipe_list[i]);
      console.log(scheduled_recipe_names);
    </script>
  </head>
  <body onload="onLoadPage()">
    <div class="container">
      <div class="row">
        <h1> Recipe Scheduler <span id="week-start">{{week_start}}</span></h1>
      </div>
      <br />
      <!-- <div class="row"> -->
      <!--   <h2> Recipes </h2> -->
      <!-- </div> -->
      <!--     <div class="row"> -->
      <!-- <\!-- <template> -\-> -->
      <!-- <\!--   <b-calendar block locale="en-US"></b-calendar> -\-> -->
      <!-- <\!-- </template> -\-> -->
      <!--     </div> -->
      <div id="recipe-div" class="row">
        <table id="recipe-table" width="100%">
          <col style="width:25%">
          <col style="width:2.5%">
          <col style="width:2.5%">
          <col style="width:60%">
          <col style="width:10%">
          <thead>
          <tr>
            <th><h3>Week Day</h3></th>
            <th colspan="2"></th>
            <th><h3>Recipe</h3></th>
            <th><h3>Quantity</h3></th>
          </tr>
          </thead>
          <tbody id="recipe-table-body">
	        {% for day in ["sun", "mon", "tue", "wed", "thu", "fri", "sat"] %}
          <tr>
            <td id="date-{{day}}">{{day}}</td>
            <td>
              {% if day != "sun" %}
              <a onclick="moveUp('{{day}}')">
                <i class="bi bi-arrow-up" style="cursor: pointer"></i>
              </a>
              {% endif %}
            </td>
            <td>
              {% if day != "sat" %}
              <a onclick="moveDown('{{day}}')">
                <i class="bi bi-arrow-down" style="cursor: pointer"></i>
              </a>
              {% endif %}
            </td>
            <td id="select-{{day}}">
              <select id="recipe-select-{{day}}"></select>
            </td>
            <td id="amount-{{day}}">
              <input id="cnt-{{day}}" value=0 type=number min=0 class="form-control" ></input>
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <br />
      <div>
          <button class="btn btn-primary" onclick="setGroceryList()"><i class="bi bi-save"></i> Save Recipe Schedule</button>
          <button class="btn btn-primary" onclick="getGroceryListPrint()"> <i class="bi bi-list-ol"></i> Get Grocery List</button>
          <button class="btn btn-primary" onclick="changeWeek(-1)"> <i class="bi bi-pen"></i> Edit Last Week</button>
          <button class="btn btn-primary" onclick="changeWeek(+1)"> <i class="bi bi-pen"></i> Edit Next Week</button>
          <button class="btn btn-primary" onclick="window.location.href='/recipe-site/'"> <i class="bi bi-house-fill"></i> Go Home</button>
      </div>
    </div>
  </body>
</html>
